.category .box-container .box:hover{
   background-color: var(--yellow);
}

.category .box-container .box:hover img{
   filter: invert(0);
}


.bt  {
   font-size:20px;
    background-color: darkblue;
   color:darkblue;
   padding:1rem 3rem;
   cursor: pointer;
   text-transform: capitalize;
   transition: .2s linear;

}
.bt :hover  {
   letter-spacing: .2rem;
}
